/* CSS Document for Screens */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');
/* Typography
--------------------------------------------------------------- */
body{
font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; color:#555;margin:0;padding:0;
    /*this is the only place we use px the rest of page will use em */
background-color:mintcream;
text-align:center; /*for webbrowser purposes*/
}
#page{ max-width:1200px; margin: 0 auto; position:relative; background-color:moccasin;}
h1{margin: 0 0 1em 0; font-size:2.8em;font-weight: 700;}
h2{margin: 0 0 .5em 0; font-size:1.6em;font-weight: 700;line-height:1.1em;}
a{color:blue;}
.codeHighlight {color: blue;}
main{margin: 5px;}
/* Header
--------------------------------------------------------------------- */
header{ 
    height:430px;
    background-color: #c8c8c8c8;
    background-image:url('../images/banner_1200.jpg');
    
    position:relative; }

header div.welcome {
    left: 55%;
    position: absolute;
    top: 192px;
    width: 42%;
}

header div.welcome h1 {
    color: #fff;
    line-height: 1em;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}


/*Nav
----------------------------------------------------------------------------*/
nav { 
background-color: rgba(0,0,0,.65);
position:absolute;
top: 0px; left: 0px;
padding: 15px 0 0 0;
width: 100%;
}
.handle{
    color:white;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    padding: 15px 10px;
    display:none;
    cursor: pointer;
}
nav::after {
    clear: both;
    content: "";
    display: block;
}
nav ul{list-style: none;margin:0px; padding: 0px;
   -webkit-transition: max-height: 0.4s;
   -ms-transition: max-height: 0.4s;
    -moz-transition: max-height: 0.4s;
   -o-transition: max-height: 0.4s;

}
nav > ul > li{float:left;}
nav ul li:hover {background-color: #2b0306;}
nav ul li:hover>ul {display:block;}
nav ul li a {
display: inline-block;
color: #fff;
padding: 10px 20px;
text-decoration:none;
width: 125px;
position: relative;
}
nav ul li a:hover {
    color: #fff;
    background-color: #6d0911;
}
nav ul ul {
    position:absolute;
    top:100%;
    background-color: #2b0306;
    display:none;
    margin-left: 0;
}
ul ul li {position: relative;

}
nav ul ul ul {
    left: 100%;
    top: 0px;
}


/*session
---------------------------------------------------------------------------------------*/
#firstWord { float: left; color: #903; font-size: 4em; line-height: 1.9em; padding-top: 4px; 
padding-right: 8px; padding-left: 3px; font-family: cursive; }

#intro {clear:both;text-align: left;}
img {float:right;max-width: 100%;height: auto;}
.png {width: 60%;}
nav{clear:both;}
.noteSubject { text-align: left;}
/* set font weight on the first level not the second */
ol  {
     font-weight:bold ;
}
ol ul { font-weight:normal;}
.noteSubject img {float:none;}

/* footer
--------------------------------------------------------------------------------------*/
footer{clear:both;

}
ul.social{
display: block;
margin: 5% 0;
list-style-type: none;
text-align: center;
}
ul.social li {
	font-size: 2.3em;
	display: inline;
	padding: 0 2%;
	}
ul.social li a{
color: #666;
}
ul.social li.facebook a:hover{color: rgb(59,89,152);}
ul.social li.twitter a:hover{color: rgb(0,172,237);}
ul.social li.instagram a:hover{color: rgb(81,127,237);}
ul.social li.youtube a:hover{color: rgb(187,0,0);}
ul.social li.flickr a:hover{color: rgb(255,0,132);}
ul.social li.linkedin a:hover{color: rgb(0,123,182);}

p.copyright{
text-align: center;
color: #666;
font-size: 1em;

}


/*media queries
------------------------------------------------------------------------------- */
@media screen and (max-width: 1172px) {
   
	h1{font-size: 2.4em;}
	
 }
    
@media screen and (max-width: 1074px) {
    h1{font-size: 2.3em; }
    header div.welcome{
        left: 58%;
        
    
}
   
@media screen and (max-width: 966px) {
   
	h1{font-size: 2.0em;}
	
	header div.welcome{
        left: 58%;
        
    
    }
 @media screen and (max-width: 833px) {
    h1{font-size: 1.9em;}
    
}
@media screen and (max-width: 825px){
	
	h1{font-size: 1.6em;}
	header{ height: 300px; background-image: url(../images/banner_825.jpg);}
    header div.welcome{ top:120px; left: 48%;}
    }
    
    
    @media screen and (max-width: 674px) and (min-width: 425px) {
     
    /* put nav back to static postition*/
    nav {position: static; width: auto; padding: 20px 15px; background-color: #4b0a0c;overflow:auto; }
	nav ul,
	nav ul ul,
	nav ul ul ul {display: block; position: static;}
    /*to hide second and third ul*/   
       
        nav ul ul,
        nav ul ul ul li{display:none;}
    /*display second and third when hovering*/
        nav ul ul  :hover li{display:block;}
        nav li{margin-top: -15px; }
        nav ul ul {margin-left: 26px;}
        main h1{padding:10px;}
    
    nav ul li {
            box-sizing: border-box;
            padding: 15px;
            float:none;
            text-align: left;
            width: 100%;
            
        
        }
        .handle{display: block; padding-top: 1em;}
        /*hiding and showing parts*/
         nav ul {display: none;}
       nav:hover #showing{display: block;height:15em;}
        }
    @media screen and (max-width:665px){
       
        header div.welcome h1 { font-size: 2em; margin: -20px 10px 10px -182px;}
        
    }
    
    
    
   @media screen and (max-width:553px){   
       #firstWord {font-size: 3em;}
       img{float: none;}
       
}
    @media screen and (max-width: 425px) {
	header {height: 110px; background-image: url(../images/banner_425.jpg)}
        header div.welcome { width: 100%; left: 0px; top: 46px; text-align: center;}
	header div.welcome h1 { font-size: 1.8em; margin: -20px 10px 10px 10px;}
      /*  .handle{margin:-19px 2px -12px 2px;}*/
    nav {position: static; width: auto; padding: 20px 15px; background-color: #4b0a0c;overflow:auto; }
	nav ul,
	nav ul ul,
	nav ul ul ul {display: block; position: static;}
   nav ul li {
            box-sizing: border-box;
            padding: 15px;
            float:none;
            text-align: left;
            width: 100%;
         }
       nav ul li:hover {background: none;}
        nav ul ul{background-color:inherit;}
        nav ul li a {
	width: auto;
	display: block;
	margin: 8px 10px;
	padding: 8px 15px;
	border: 1px solid rgba(255,255,255,.25);
	}
        nav ul ul{margin-left: 1.8em;}
        nav ul, nav ul ul{margin-top:0; margin-bottom:-26px;padding-top: 0; padding-bottom: 0;}
        
    }
    
    